<% html_title(l(:label_search)) -%>

<%= content_for :sidebar do %>
  <ul class="search-result-counts">
    <li class="<%= params[:project_id].blank? ? 'active' : 'btn-back' %>">
      <%= link_to(params.select { |k, v| k.to_s != 'id' && k.to_s != 'project_id' }) do %>
        <%= l(:label_project_all) %> (<%= @results ? @results_by_project.values.sum : 0 %>)
      <% end -%>
    </li>
    <% if @results %>
      <% @results_by_project.each do |project, count| %>
        <li class="<%= 'active' if params[:project_id].to_s == project.id.to_s %>">
          <%= link_to(params.merge({ project_id: project.id })) do %>
            <%= project.name %> (<%= count %>)
          <% end -%>
        </li>
      <% end -%>
    <% end -%>
  </ul>
<% end -%>

<h5><%= l(:label_search) %></h5>

<%= form_tag({}, { :method => :get, class: 'advance-search', id: 'advance_search_formx' }) do %>

  <div class="row types">
    <label class="col-md-3"><%= check_box_tag 'all_object_types', 1, true %> <%= l(:label_all) %></label>
    <% @object_types.each do |t| %>
      <label class="col-md-3"><%= check_box_tag t, 1, @scope.include?(t), class: 'object-type' %> <%= type_label(t) %></label>
    <% end %>
  </div>

  <div class="row row-distance">
    <div class="col-md-6">
      <%= label_tag l(:field_due_date) %>
      <%= text_field_tag 'due_date_start', params[:due_date_start], class: 'col-md-3 form-control' %>
      <span style="float:left;margin-top:10px;">to</span>
      <%= text_field_tag 'due_date_end', params[:due_date_end], class: 'col-md-3 form-control' %>
      <%= calendar_for('due_date_start') %>
      <%= calendar_for('due_date_end') %>
    </div>
    <div class="col-md-3">
      <%= label_tag l(:field_status) %>
      <%= select_tag 'issue_status', options_for_select([[l(:label_open), 'open'], [l(:label_close), 'close'], [l(:label_all), 'all']], params[:issue_status] || 'all'), class: 'col-md-3 ' %>
    </div>
    <div class="col-md-3 ">
      <%= label_tag l(:field_watched) %>
      <%= select_tag 'issue_watched', options_for_select([[l(:general_text_yes), 'yes'], [l(:general_text_no), 'no'], [l(:label_all), 'all']], params[:issue_watched] || 'all'), class: 'col-md-3 ' %>
    </div>
  </div>
  
  <div class="row row-distance">
    <div class="col-md-6 ">
      <%= label_tag l(:field_created_on) %>
      <%= text_field_tag 'created_on_start', params[:created_on_start], class: 'col-md-3 form-control' %>
      <span style="float:left;margin-top:10px;">to</span>
      <%= text_field_tag 'created_on_end', params[:created_on_end], class: 'col-md-3 form-control' %>
      <%= calendar_for('created_on_start') %>
      <%= calendar_for('created_on_end') %>
    </div>
    <div class="col-md-6 ">
      <%= label_tag "search-input", l(:description_search), :class => "hidden-for-sighted" %>
      <%= text_field_tag 'q', @question, :size => 60, :id => 'search-input', class: 'col-md-6 form-control' %>
    </div>
  </div>

  <div class="row row-distance">
    <div class="col-md-6 ">
      <% issue_assigned_user = User.find(params[:issue_assigned_to_id]) rescue nil %>
      <%= label_tag l(:field_assigned_to) %>
      <%= hidden_field_tag :issue_assigned_to_id, issue_assigned_user.try(:id), style: "width:140px" %>
    </div>
    <div class="col-md-6 ">
      <%= label_tag "标签" %>
      <input type="text" id="tag_list" name="tag_list", placeholder="标签", class="col-md-3 tm-input form-control" />
    </div>
    <script>
      <%= render :partial => "auto_completes/select2_script_for_assigned_to", :locals => {:dom_id => 'issue_assigned_to_id', :project_id => nil, :user => @user } %>

      $('#tag_list').tagsManager({
         prefilled: [<%= @tags_list && @tags_list.map{|t| "\"#{t}\""}.join(",").html_safe %>],
         typeahead: true,
         typeaheadSource: [<%= Tag.order("name").all.map{|t| "\"#{t.name}\""}.join(',').html_safe %>],
         blinkBGColor_1: '#FFFF9C',
         blinkBGColor_2: '#CDE69C'
      });

    </script>
  </div>

  <%= select_tag 'sort_by', options_for_select(@sort_types.inject({}) { |types, value| types[l("sort_by_#{value}")] = value; types }, @selected_sort_type) %>

  <%= submit_tag "搜索", :name => 'submit', class: 'button blue btn-sm pull-right' %>
<% end %>

<%= render 'list', { results_by_type: @results_by_type, results: @results, tokens: @tokens, project: @project, limit: @limit, max_limit: @max_limit } %>

<%= javascript_tag do %>
$('#all_object_types').click(function() {
  $('.object-type').attr('checked', this.checked);
});

$('.object-type').click(function() {
  if (!this.checked) {
    $('#all_object_types').attr('checked', false);
  }
});

$('#advance_search_formx #sort_by').change(function() {
  $('#advance_search_formx input[type="submit"]').click();
});
<% end -%>
