<%= labelled_form_for @issue, :html => {:id => 'issue-form'} do |f| %>
  <div class="select-assign" data-dismiss="clickover">  
    <% @issue.assignable_users.each do |user| %>       
      <div class="select-menu-item js-navigation-item <%= 'selected' if @issue.assigned_to_id == user.id %>" style="" onclick="changeAssign(this);return false;">
        <%= f.radio_button :assigned_to_id, user.id %>                        
        <span class="select-menu-item-icon mini-icon mini-icon-confirm">
          <% if @issue.assigned_to_id == user.id %>
            <i class="icon-assignee"></i>
          <% end %>
        </span>
        <div class="select-menu-item-gravatar js-select-menu-item-gravatar">
          <span class="avatar"><%= image_tag user.avatar_url(:small), :class => "img-rounded" %></span>
        </div>

        <div class="select-menu-item-text">
          <h4 data-pinyin="<%= PinYin.of_string(user.name).join %>"><%= user.name %></h4>
        </div>
      </div>
    <% end %>
  </div>
<% end %>