<div class="modal" id="container-modal">
  <%= labelled_form_for @issue, :html => {:id => 'issue-form', :multipart => true} do |f| %>
    <div class="modal-body">
      <%= error_messages_for 'issue' %>
      <% if @edit_allowed || !@allowed_statuses.empty? %>
        <div id="all_attributes">
          <%= render :partial => 'form', :locals => {:f => f} %>
        </div>
        <div id="attachments_form">
          <%= render :partial => 'attachments/form', :locals => {:container => @issue} %>
        </div>
      <% end %>
      <a href="#" data-format='true' class="light pull-right">Textile语法</a>
    </div>
    <div class="modal-footer">
       <button class="btn" data-dismiss="modal" aria-hidden="true"><%= l(:button_cancel) %></button>
      <%= submit_tag l(:button_submit), class: 'button blue' %>
    </div>
  <% end -%>
  <div id="formatting-help-edit" class="popup showmebox inline-help formatting-edit">
    <%= render :partial => "shared/textile" %>  
  </div>
</div>

<script type="text/javascript">
  $('a[data-format=true]').click(function(){
    $('#formatting-help-edit').fadeIn();
    return false;
  })
    
  $("a.close").click(function(){
    $(this).parent().hide();  
    return false;
  })
</script>