<div class="modal" id="container-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= labelled_form_for @issue, :url => project_issues_path(@project),
                                   :html => {:id => 'issue-form', :multipart => true} do |f| %>
        <div class="modal-body">
          <%= error_messages_for 'issue' %>

          <div class="box tabular">
            <div id="all_attributes">
              <%= render :partial => 'issues/form', :locals => {:f => f} %>
            </div>
          </div>

          <div id="attachments_form">
            <%= render :partial => 'attachments/form', :locals => {:container => @issue} %>
          </div>
          <a href="" data-format='true' class="light pull-right">Textile语法</a>
        </div>
        <div class="modal-footer" style="margin-top:50px;">
          <%= link_to l(:button_cancel), '#', class: 'btn btn-default btn-sm', data: { dismiss: 'modal' } %>
          <%= submit_tag l(:button_create), disable_with: l(:button_submiting), class: 'button blue btn-sm' %>
        </div>
      <% end %>
      <div id="formatting-help-new" class="popup showmebox inline-help formatting-edit">
        <%= render :partial => "shared/textile" %>  
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('a[data-format=true]').click(function(){
    $('#formatting-help-new').fadeIn();
    return false;
  })
    
  $("a.close").click(function(){
    $(this).parent().hide();  
    return false;
  })

  $(document).ready(function(){
    $('#container-modal').on('show.bs.modal', function () {
      if(!isScroll().scrollY){
        // no-scroll
        $('body').addClass("modal-open-noscroll");
      }else { 
        $('body').removeClass("modal-open-noscroll");
      }
    })
  })
  
</script>