<div class="row-fluid">
  <%= render_return_to_main_page %>
  <% if @project %>
    <%= render '/projects/info', { project: @project } %>
  <% else %>
    <div class="actions">
      <%= link_to new_project_path, class: 'btn span24', remote: true do %>
      <i class="icon-new"></i>
        <%= l(:label_project_new) %>
      <% end -%>
    </div>
    <%= render '/projects/list' %>
  <% end -%>

  <%= render_sidebar_queries %>
  <%= call_hook(:view_issues_sidebar_queries_bottom) %>
</div>
