<ul class="nav nav-pills issues-tabs">
  <li class="<%= 'active' if action_name == 'assigned_to_me' %>">
    <%= link_to({ action: 'assigned_to_me', project_id: @project }) do %>
      <%= l(:label_assigned_to_me_issues) %> (<%= @issues_count[:assigned_to_me] %>)
    <% end -%>
  </li>
  <li class="<%= 'active' if action_name == 'index' %>">
    <%= link_to({ action: 'index', project_id: @project }) do %>
      <%= l(:label_open_issues) %> (<%= @issues_count[:open] %>)
    <% end -%>
  </li>
  <li class="<%= 'active' if action_name == 'reported' %>">
    <%= link_to({ action: 'reported', project_id: @project }) do %>
      <%= l(:label_reported_issues) %> (<%= @issues_count[:reported] %>)
    <% end -%>
  </li>
  <li class="<%= 'active' if action_name == 'watched' %>">
    <%= link_to({ action: 'watched', project_id: @project }) do %>
      <%= l(:label_watched_issues) %> (<%= @issues_count[:watched] %>)
    <% end -%>
  </li>
  <li class="<%= 'active' if action_name == 'closed' %>">
    <%= link_to({ action: 'closed', project_id: @project }) do %>
      <%= l(:label_closed_issues) %> (<%= @issues_count[:closed] %>)
    <% end -%>
  </li>
</ul>

<div class="clearfix">
  <%= form_tag(request.path, { method: 'get', id: 'issues-sort-form', class: 'pull-left' }) do %>
    <%= select_tag 'sort_by', options_for_select(@sort_types.inject({}) { |types, value| types[l("sort_by_#{value}")] = value; types }, @selected_sort_type), { class: 'form-control'} %>
    <%= submit_tag '', class: 'hidden' %>
  <% end -%>
  <% if (@project.nil? && !@projects.blank?) || User.current.allowed_to?(:add_issues, @project) %>
    <%= link_to l(:label_issue_new), { action: 'new', project_id: @project }, { class: 'button blue pull-right bg-new', accesskey: Redmine::AccessKeys.key_for(:new_issue), remote: true } %>
  <% end -%>
</div>

<%= javascript_tag do %>
$('#issues-sort-form #sort_by').change(function() {
  $('#issues-sort-form').submit();
})
<% end -%>
