<% html_title l(:label_issue_plural) %>

<% content_for :sidebar do %>
  <%= render :partial => 'issues/sidebar' %>
<% end %>

<% content_for :title_bar do %>
  <%= render_title_of_all_projects_issues %>
  <%= render '/projects/title_bar' %>
<% end -%>

<%= render 'tabs' %>

<div class="issue-list">
  <% if @issues.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% else %>
    <%= render 'issues/list', { issues: @issues, limit: @limit, max_limit: @max_limit, project: @project } %>  
  <% end -%>
</div>  