<% if old_browser?(@user_agent) %>
  <% form_class = "" %>
<% else %>
  <% form_class = "dropzone" %>
  <%= javascript_tag do %>
    <%= render(:partial => 'dropzone', :handlers => [:erb], :formats => [:js]) %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <div class="row-fluid">
    <%= link_to project_issues_path(@issue.project), class: 'btn span24 box' do %>
      <i class="icon-arrow-left"></i><%= @issue.project.name %>
    <% end -%>

    <div class="issue-info">
      <div class="attributes">
        <div class="switch" data-on-label="<i class='icon-open'></i> 开放" data-off-label="<i class='icon-closed'></i> 关闭">
          <input type="checkbox" checked />
        </div>
        
        <% if false %>
          <div class="issue-status">
            <i class="<%= @issue.status.is_closed ? 'icon-closed' : 'icon-open' %>"></i>
            <%= h(@issue.status.name) %>
          </div>
          <% unless @issue.disabled_core_fields.include?('assigned_to_id') %>
            <div class="assignee">
              <span><%= l(:field_assigned_to) %>: </span></br>
              <i class="icon-assignee"></i><%= link_to_user(@issue.assigned_to) %>
            </div>
          <% end -%>
          <% unless @issue.disabled_core_fields.include?('due_date') %>
            <div class="due">
              <span><%= l(:field_due_date) %>: </span></br>
              <i class="icon-due"></i><span class="date <%= 'overdue' if @issue.overdue? %>"><%= format_date(@issue.due_date) %></span>
            </div>
          <% end -%>
        <% end %>
      </div>
    </div>

    <% if User.current.allowed_to?(:add_issue_watchers, @project) ||
      (@issue.watchers.present? && User.current.allowed_to?(:view_issue_watchers, @project)) %>
      <div id="watchers">
        <%= render :partial => 'watchers/watchers', :locals => {:watched => @issue} %>
      </div>
    <% end %>
  </div>
<% end -%>

<div class="issue">
  
  <div class="issue-header clearfix">
    <h2>
      个人中心前段      
    </h2>
    <div id="attributes" class="attributes">    
      <div class="span7 holder">
        <span class="label">指派人：</span>
        <select class="span6" id="issue_assigned_to_id" name="issue[assigned_to_id]"><option value=""></option>
  <option value="3">&lt;&lt; 我 &gt;&gt;</option><option value="3" selected="selected">刘文举</option></select>
      </div>

      <div class="span8 holder">
        <span class="label">截至日期：</span>
        <input class="span6" id="issue_due_date_show" name="issue[due_date]" size="10" type="text" value="2013-05-16">
        <%= calendar_for('issue_due_date_show') %>        
      </div>
    </div>
    <div id="edit-btn">
      <%= render 'action_menu', { issue: @issue } %>
    </div>      
  </div>

  <div class="row journal">
    <div class="avatar span2">
      <%= link_to_user(@issue.author, :avatar => :small) %>
    </div>    
    <div class="issue-holder span14">
      <div class="author-header clearfix">
        <div class="author">
          <strong><%= link_to_user(@issue.author) %></strong><br/>
        </div>
        <div class="actions">
          <%= relative_time(@issue.updated_on) %>
        </div>
      </div>
    
      <div class="issue-content">
        <% attachments = @issue.attachments - @issue.journals.map(&:own_attachments).flatten %>
        <% if @issue.description? || attachments.any? -%>
          <% if @issue.description? %>
            <div class="wiki description">
              <%= textilizable @issue, :description, :attachments => attachments %>
            </div>
          <% end %>
          <%= render 'attachments/links', { :attachments => attachments, :options => { deletable: false, author: false }, :thumbnails => true } %>
        <% end -%>
      </div>
    </div>
  </div>

  <ul>
    <li class="sub-menu-item" ><span>讨论此课题</span></li>
  </ul>

  <% if @journals.present? %>
    <div class="history">
      <%= render :partial => 'history', :locals => { :issue => @issue, :journals => @journals } %>
    </div>
  <% end %>

  <% if !@issue.closed? && User.current.allowed_to?(:add_issue_notes, @issue.project) %>
    <%= labelled_form_for @issue, html: { :multipart => true, :class => form_class, :id => form_class } do |f| %>
      <div class="row-fluid">
        <%= text_area_tag 'notes', @notes, :rows => 3, :class => 'wiki-edit span24', :placeholder => '在此添加讨论内容......' %>
        <% if old_browser?(@user_agent) %>
          <%= render :partial => 'attachments/form', :locals => {:container => @issue} %>
        <% end %>

        <%= submit_tag l(:button_submit), disable_with: l(:button_submiting), class: 'btn btn-primary pull-right bg-new', id: "button_submit" %>
      </div>
    <% end -%>
  <% end -%>
  
</div>

<% html_title "#{@issue.tracker.name} ##{@issue.id}: #{@issue.subject}" %>
