<% if old_browser?(@user_agent) %>
  <% form_class = "" %>
<% else %>
  <% form_class = "dropzone" %>
<% end %>

<% content_for :sidebar do %>
  <div class="row-fluid <%= 'pinned' if !@user_agent.mobile? %>">
    <%= link_to project_issues_path(@issue.project), class: 'btn span24 box' do %>
      <i class="icon-arrow-left"></i><%= @issue.project.name %>
    <% end -%>

    <div class="issue-info">
      <div class="attributes">
        
        <div class="view-switcher">
          <% if @issue.closed? %>
            <%= link_to reopen_issue_path(@issue), :method => "post" do  %>
              <i class='icon-open'></i> 开放
            <% end %>
            <%= link_to reopen_issue_path(@issue), :method => "post", :class => "active-right" do  %>
              <i class='icon-blue-arrow-left'></i> 关闭
            <% end %>
          <% else %>  
            <%= link_to close_issue_path(@issue), :method => "post", :class => "active" do  %>
               开放 <i class='icon-blue-arrow-right'></i>
            <% end %>
            <%= link_to close_issue_path(@issue), :method => "post" do  %>
               关闭 <i class='icon-closed'></i>
            <% end %>
          <% end %>
        </div>
        
        <div class="assignee js-select">
          <div class="info">指派给: </div>
          <% if @issue.closed? %>
            <span class="btn minibutton js-menu-target" data-title="选择指派人" class="popover-link">
              <span class="js-select-button" data-assign="name"><%= @issue.assigned_to.try(:name) %></span>
            </span>
          <% else %>  
            <a class="btn minibutton select-menu-button js-menu-target"  href="<%= issue_path(@issue) %>" data-title="选择指派人" class="popover-link">
              <span class="js-select-button" data-assign="name"><%= @issue.assigned_to.try(:name) %></span>
            </a> 
          <% end %>  
        </div>
        
        <div class="due  js-select">
          <div class="info">计划完成日期: </div>
          <% if @issue.closed? %>
            <span class="btn minibutton js-menu-target">
              <span class="js-select-button"><%= format_date(@issue.due_date) %></span>
            </span>
          <% else %>  
            <a class="btn minibutton select-menu-button js-menu-target" data-title="选择日期" href="<%= issue_path(@issue, :date => true) %>">
              <span class="js-select-button" data-assign="date"><%= format_date(@issue.due_date) %></span>            
            </a>  
          <% end %>
        </div>                                   
        
      </div>
    </div>

    <% if User.current.allowed_to?(:add_issue_watchers, @project) ||
      (@issue.watchers.present? && User.current.allowed_to?(:view_issue_watchers, @project)) %>
      <div id="watchers">
        <%= render :partial => 'watchers/watchers', :locals => {:watched => @issue} %>
      </div>
    <% end %>
  </div>
<% end -%>

<div class="issue">
  
  <div class="issue-header clearfix">
    <h2>
      <%= @issue.subject %>      
    </h2>
    
    <div id="edit-btn">
      <%= render 'action_menu', { issue: @issue } %>
    </div>      
  </div>

  <div class="row journal issue-body">
    <div class="avatar span2">
      <%= link_to_user(@issue.author, :avatar => :small) %>
    </div>    
    <div class="issue-holder span14">
      <div class="author-header clearfix">
        <div class="author">
          <strong><%= link_to_user(@issue.author) %></strong><br/>
        </div>
        <div class="actions">
          <%= relative_time(@issue.updated_on) %>
        </div>
      </div>
    
      <div class="issue-content">
        <% attachments = @issue.attachments - @issue.journals.map(&:own_attachments).flatten %>
        <% if @issue.description? || attachments.any? -%>
          <% if @issue.description? %>
            <div class="wiki description">
              <%= textilizable(@issue, :description, :attachments => attachments) %>
            </div>
          <% end %>
          <%= render 'attachments/links', { :attachments => attachments, :options => { deletable: false, author: false }, :thumbnails => true } %>
        <% end -%>
      </div>
    </div>
  </div>

  <ul>
    <li class="sub-menu-item" ><span>讨论此课题</span></li>
  </ul>

  <% if @journals.present? %>
    <div class="history">
      <%= render :partial => 'history', :locals => { :issue => @issue, :journals => @journals } %>
    </div>
  <% end %>

  <% if !@issue.closed? && User.current.allowed_to?(:add_issue_notes, @issue.project) %>
    <%= labelled_form_for @issue, html: { :multipart => true, :class => form_class, :id => form_class, :"data-url" => "/projects/#{@issue.project.id}/files/upload" } do |f| %>
      <div class="row-fluid">
        <%= text_area_tag 'notes', @notes, :rows => 3, :class => 'wiki-edit span24 hasAt', :placeholder => '在此添加讨论内容......' %>
        <% if old_browser?(@user_agent) %>
          <%= render :partial => 'attachments/form', :locals => {:container => @issue} %>
        <% end %>

        <div class="pull-right">
          <a href="" data-format='true' class="blue">Textile语法</a>
          <%= submit_tag l(:button_submit), disable_with: l(:button_submiting), class: 'button blue full', id: "button_submit" %>
        </div>
      </div>
    <% end -%>
  <% end -%>
  
</div>

<%= render :partial => "shared/textile" %>

<% html_title "#{@issue.tracker.name} ##{@issue.id}: #{@issue.subject}" %>
