<div id="frame" >
  <ul class="slidee clearfix" style="width:10250px;">
    <% (-5..6).to_a.map {|i| Date.today + i.months }.each do |month| %>
    <li>      
      <div class="days-of-month date img-polaroid">
        <% (month.beginning_of_month..month.end_of_month).to_a.each do |day| %>
          <div class="day-header <%= 'sun-color-date' if day.saturday? || day.sunday? %>" >
            <% if day.day == 1 %>
            <span style="font-weight:bold;color:#333;font-size:13px;"><%= day.month %>月</span>
            <% else %>
            <span ><%= day.day %></span>          
            <% end %>
          </div>    
        <% end %>      
      </div>
      
      <div class="month-row">
        <div class="events holdable" style="width:100%;padding-top:{{ eventsInMonth[0].position * 30}}px;">                      
          <div  ng-repeat="event in eventsInMonth = (events | filterByMonth:'<%= month.to_s %>' | orderBy:'position' ) " class="event  tip wraps_next  {{event.eventableType}}" style="margin-left:{{event.left}};width:{{event.width}};background-color:{{event.color}};"   data-event-id="{{event.id}}"  data-position="{{event.position}}" data-toggle="tooltip" title="{{ event.startTime }} - {{event.endTime }}">         
  
            <span class="event">
              <span style="" class="title">{{ event.projectName }} </span>
            </span>
          </div>  
        </div> 
                
        <div class="days"  style="min-height:500px;height:{{  200 + (events.length * 30)}}px;">            
          <div class="dates" style="display:table-row;">
            <% (month.beginning_of_month..month.end_of_month).to_a.each do |day| %>            
              <div class="day <%= 'sat' if day.saturday? || day.sunday? %> <%= 'today' if day == Date.today %> " data-date="<%= day.to_s %>" ></div>
            <% end %>                
          </div>
        </div>   
  
      </div>
    
      <div class="days-of-month date img-polaroid">
        <% (month.beginning_of_month..month.end_of_month).to_a.each do |day| %>
          <div class="day-header <%= 'sun-color-date' if day.saturday? || day.sunday? %>" >
            <% if day.day == 1 %>
              <span style="font-weight:bold;color:#333;font-size:13px;"><%= day.month %>月</span>
            <% else %>
              <span ><%= day.day %></span>          
            <% end %>
          </div>    
        <% end %>      
      </div>
    </li>
    <% end %>
  </ul> 

</div>