<% content_for:sidebar do %>
  <div class="well sidebar-nav">
    <ul class="nav nav-list" id="slideRight" ng-controller="MemberCtrl">
      <li class="form-horizontal head">
          <h5 style="display:inline-block;"><%= @member.name %></h5>
          <div style="display:inline-block;padding:10px;" class="pull-right"><img src="/assets/project_header/down.png" alt="down"/></div>
      </li>
      <li>
        <a href="#">
          <img src="<%= @member.user.avatar_url(:large) %>" class="img-polaroid" style="height:135px;width:95%;">
        </a>
      </li>
      <li class="head">
        <h5 style="display:inline-block;">Projects</h5>
      </li>
      <li class="head">        
        <% @projects.each do |project| %>
          <div class="clearfix">
            <a class="photo" href="/planners/projects/<%= project.id %>">
              <img class="img-circle" src="<%= project.icon_url(:medium) %>" style="width:50px;">
            </a>            
            <div style="margin-left:5px;">
              <a class="name" href="/planners/projects/<%= project.id %>"><%= project.name %></a>
            </div>          
          </div>
        <% end %>
      </li>
    </ul>
  </div><!--/.well -->
  
<% end -%>

<div id='calendar'>
  
  <div class="row-fluid grid img-polaroid">
    <div  class="span12">
      <div class="row-fluid">
        <div class="span4">
          <h3>{{ currentMonth.getFullYear()}} - {{ currentMonth.getMonth() + 1 }}</h3>
        </div>
        <div class="span3 offset5">
          <div class="header">
            <nav>  
              <div class="btn-group">
                <button class="prev btn" >◀</button>
                <button class="toCenter btn" >今天</button>                
                <button class="next btn" >▶</button>
              </div>
            </nav>      
          </div>  
        </div>
      </div>  
    </div>
  </div>     
  
  <div class="scrollbar">
		<div class="handle">
			<div class="mousearea"></div>
		</div>
	</div>
  
  <%= render :partial => "calendar" %>  
  
</div>      
