<% content_for:sidebar do %>
  <div class="well sidebar-nav">
    <ul class="nav nav-list" id="slideRight" ng-controller="MemberCtrl">
      <li class="form-horizontal head">
          <h5 style="display:inline-block;"><%= @user.name %></h5>
          <div style="display:inline-block;padding:10px;" class="pull-right"><img src="/assets/project_header/down.png" alt="down"/></div>
      </li>
      <li>
        <a href="#">
          <img src="<%= @user.avatar_url(:large) %>" class="img-polaroid" style="width:95%;">
        </a>
      </li>
      <li class="head">
        <h5 style="display:inline-block;">项目</h5>
      </li>
      <li class="head">        
        <% @projects.each do |project| %>
          <div class="clearfix">
            <a class="photo" href="/planners/projects/<%= project.id %>">
              <img class="img-polaroid personal-project" src="<%= project.icon_url(:medium) %>">
            </a>            
            <div style="margin-left:5px;margin-top:7px;">
              <a class="personal-project" href="/planners/projects/<%= project.id %>"><%= project.name %></a>
            </div>          
          </div>
        <% end %>
      </li>
    </ul>
  </div><!--/.well -->
  
<% end -%>

<div id='calendar'>
  
  <div class="row-fluid grid img-polaroid">
    <div  class="span12">
      <div class="row-fluid">
        <div class="span4" style="margin-top:-15px;">
          <h3>{{ currentMonth.getFullYear()}} - {{ currentMonth.getMonth() + 1 }}</h3>
        </div>
        <div class="span3 offset5">
          <div class="header">
            <nav style="margin-right:35px;">  
              <div class="btn-group">
                <button class="prev btn" >◀</button>
                <button class="toCenter btn" >今天</button>                
                <button class="next btn" >▶</button>
              </div>
            </nav>      
          </div>  
        </div>
      </div>  
    </div>
  </div>     
  
  <div class="scrollbar">
		<div class="handle">
			<div class="mousearea"></div>
		</div>
	</div>
  
  <%= render :partial => "calendar" %>  
  
</div>      
