<a href="#myThumbnailModal_<%= count %>" data-toggle="modal"><%= image_tag(url_for(:controller => 'attachments', :action => 'thumbnail', :id => attachment)) %></a>

<div id="myThumbnailModal_<%= count %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal" id="container-modal">
    <div class="modal-body">
       <%= link_to image_tag(url_for(:controller => 'attachments', :action => 'show', :id => attachment, :filename => attachment.filename)),
      { :controller => 'attachments', :action => 'show', :id => attachment, :filename => attachment.filename },
      { :title => attachment.filename, :target => '_blank' } %>
    </div>  
    <div class="modal-footer">
      <%= submit_tag "关闭",  class: 'button blue', data: { dismiss: 'modal' } %>    
    </div>      
  </div>
</div>

