<div class="navbar navbar-default navbar-fixed-top" style="background-color:#ffffff;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to home_path, class: 'navbar-brand' do %>
          <img alt="Logo" src="/assets/logo-new.png">
        <% end -%>
      </div>

      <div class="navbar-collapse  collapse">      
        <% if User.current.logged? %>
          <ul class="nav navbar-nav">
            <li class="">
              <%= link_to home_path do %>
                <i class="icon-home"></i><%= l(:label_home) %>
              <% end -%>
            </li>
            <li class="dropdown notify" id="push_notification_popover">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class='icon-notify'></i><%= l(:label_notification_plural) %></a>
              <ul class="dropdown-menu">
                <li class="header"><%= l(:label_notification_plural) %></li>
                <li class="hidden-phone"><%= link_to l(:label_loading), '#' %></li>
                <li class="footer"><%= link_to t(:button_see_all_notifications), push_notifications_path %></li>
              </ul>
            </li>
            <li class="dropdown account">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-members"></i> <%= User.current.name %><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>                
                  <%= link_to l(:label_my_account), my_account_path, remote: true %>
                </li>
                <li>
                  <%= link_to l(:label_logout), signout_path %>
                </li>
              </ul>
            </li>
          </ul>

          <%= form_tag(search_path, :method => :get, class: 'navbar-form navbar-right navbar-search', id: "quick-search") do %>
            <div class="form-group">
              <%= text_field_tag 'q', @question, :class => 'search-query', :accesskey => accesskey(:quick_search), placeholder: l(:label_search) %>
            </div>
          <% end %>
        <% end -%>
      </div>      
    </div>
</div>
