 <div id="container-modal" class="modal hide" tabindex="-1" role="dialog"  aria-hidden="true" style="display:table;_position:relative;  
    overflow:hidden;">
    
  <div class="modal-body" style="text-align:center;height: 400px;padding: 30px 80px;vertical-align:middle;  display:table-cell;  _position:absolute;  _top:50%; ">   
    <%= link_to image_tag('/assets/left-arrow-live.png'),"#", {:id => "preImage",:title => "上一张",:index => @attachment.filename} %> 
     <%= link_to image_tag(url_for(:controller => 'attachments', :action => 'show', :id => @attachment, :filename => @attachment.filename)),
    { :controller => 'attachments', :action => 'show', :id => @attachment, :filename => @attachment.filename },
    { :title => '点击查看大图', :target => '_blank' } %>
    <%= link_to image_tag('/assets/right-arrow-live.png'),"#", {:id => "nextImage",:title => "下一张"} %> 
  </div> 
  <div class="modal-footer" style="position:absolute;_top:80%;z-index:10001;right:0;top: 415px;background-color:transparent;padding:10px 30px 10px;  ">
    <%= submit_tag "关闭",  class: 'button blue', data: { dismiss: 'modal' } %>    
  </div>    
</div> 

 <!-- <div id="container-modal" class="modal hide" tabindex="-1" role="dialog"  aria-hidden="true" >
  <div class="modal-body" style="text-align:center;padding: 30px 80px;"> 	
    <%= link_to image_tag('/assets/left-arrow-live.png'),"#", {:id => "preImage",:title => "上一张",:index => @attachment.filename} %> 
     <%= link_to image_tag(url_for(:controller => 'attachments', :action => 'show', :id => @attachment, :filename => @attachment.filename)),
    { :controller => 'attachments', :action => 'show', :id => @attachment, :filename => @attachment.filename },
    { :title => '点击查看大图', :target => '_blank' } %>
    <%= link_to image_tag('/assets/right-arrow-live.png'),"#", {:id => "nextImage",:title => "下一张"} %> 
  </div>  
  <div class="modal-footer">
    <%= submit_tag "关闭",  class: 'button blue', data: { dismiss: 'modal' } %>    
  </div>    
</div>  --> 
<%= javascript_tag do %>
  $(document).ready(function(){
    (function(){
      var activeLink = $("#preImage").next(),
          imagePath = $("#preImage").next().find("img").attr("src");

      if($("ul.thumbnails li").length == 1){
        $("#preImage").remove();
        $("#nextImage").remove();
      }

      $("ul.thumbnails li").each(function(index, item){
          var link_href = $(item).find("a").attr("href"),
              listImagePath = $(item).find("img").attr("path");

          if(imagePath == listImagePath){
            if(index == 0){
              $("#preImage").find("img").attr( "src", "/assets/left-arrow.png");
            }else if(index == $("ul.thumbnails li").length-1){
              $("#nextImage").find("img").attr("src", "/assets/right-arrow.png");
            }else{
              return;
            }
          }
        })
    })()

    function matchLi(activeLink, liElements, imageIndex, direction){
      var liElements = $(liElements);
      if(direction == "pre"){
        liElements.each(function(index, item){
          var listImagePath = $(item).find("img").attr("path"),
              url;

          if(imageIndex == listImagePath){
            if(index == 1){
              $("#preImage").children(":eq(0)").attr("src", "/assets/left-arrow.png");
            }
            url = liElements.children(":eq(" + (index - 1) + ")").find("img").attr("path");

            $(activeLink).attr("href", url);
            $(activeLink).find("img").attr("src", url);
           
          }
          $("#nextImage").children(":eq(0)").attr("src", "/assets/right-arrow-live.png");
        })
      }else if(direction == "next"){
        liElements.each(function(index, item){
          var listImagePath = $(item).find("img").attr("path"),
              url;

          if(imageIndex == listImagePath){
            if(index == liElements.length-2){ 
              $("#nextImage").children(":eq(0)").attr("src", "/assets/right-arrow.png");
            }
            url = liElements.children(":eq(" + (index + 1) + ")").find("img").attr("path");

            $(activeLink).attr("href", url);
            $(activeLink).find("img").attr("src", url);
          }
          $("#preImage").children(":eq(0)").attr("src", "/assets/left-arrow-live.png");
        })
      }else{
        return;
      }
    }

    $("#preImage").bind("click", function(){
      var activeLink = $(this).next(),
          imageIndex = $(this).next().find("img").attr("src"); 

      matchLi(activeLink, "ul.thumbnails li", imageIndex, "pre");
    })
    $("#nextImage").bind("click",function(){
      var activeLink = $(this).prev(),
          imageIndex = $(this).prev().find("img").attr("src");

      matchLi(activeLink, "ul.thumbnails li", imageIndex, "next");
    });
  })
<% end -%>