<div id="container-modal" class="modal" tabindex="-1" role="dialog"  aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="text-align:center;padding: 30px 80px; position:relative; height:320px; *height:320px;">  
        <%= link_to image_tag('/assets/arrow-left.png'),"#", {:id => "preImage", :title => "上一张", :index => @attachment.filename} %> 
        <%= link_to image_tag(url_for(:controller => 'attachments', :action => 'show', :id => @attachment, :filename => @attachment.filename), :id => "issue-display"),
        { :controller => 'attachments', :action => 'show', :id => @attachment, :filename => @attachment.filename },
        { :title => '点击查看大图', :target => '_blank' } %>
        <%= link_to image_tag('/assets/arrow-right.png'), "#", {:id => "nextImage", :title => "下一张"} %> 
      </div>  
      <div class="modal-footer">
        <%= submit_tag "关闭",  class: 'button blue btn-sm', data: { dismiss: 'modal' } %>    
      </div>    
    </div>
  </div>  
</div> 
<%= javascript_tag do %>
  $(document).ready(function(){
    (function(){
      var activeLink = $("#preImage").next(),
          imagePath = $("#preImage").next().find("img").attr("src");

      if($("ul.thumbnails li").length == 1){
        $("#preImage").remove();
        $("#nextImage").remove();
      }

      $("ul.thumbnails li").each(function(index, item){
          var link_href = $(item).find("a").attr("href"),
              listImagePath = $(item).find("img").attr("path");

          if(imagePath == listImagePath){
            if(index == 0){
              $("#preImage").hide();
            }else if(index == $("ul.thumbnails li").length-1){
              $("#nextImage").hide();
            }else{
              return;
            }
          }
        })
    })()

    $("#issue-display").load(function(){
      var height = $(this).height(),
          top,
          modalBodyHeight = $(".modal-body").height();     

      if(modalBodyHeight - height < 0){
        top = 0;
      }else{
        top = modalBodyHeight - height;
      }
      $(this).css({"top":(top / 2) + "px"}).show();
    })

    function matchLi(activeLink, liElements, imageIndex, direction){
      var liElements = $(liElements),
          url,
          listImagePath;

      if(direction != "pre" && direction != "next"){
        return;
      }

      liElements.each(function(index, item){
        listImagePath = $(item).find("img").attr("path");
        if(imageIndex == listImagePath){
          if (direction == "pre"){
            if(index == 1){
              $("#preImage").hide();
            }
            url = liElements.children(":eq(" + (index - 1) + ")").find("img").attr("path");
            $("#nextImage").show();
          } else {
            if(index == liElements.length-2){
              $("#nextImage").hide();
            }
            url = liElements.children(":eq(" + (index + 1) + ")").find("img").attr("path");
            $("#preImage").show();
          }
        }
      })

      $(activeLink).attr("href", url);
      $(activeLink).find("img").attr("src", url);
      $(activeLink).find("img").hide();
    }


    $("#preImage").bind("click", function(){
      var activeLink = $(this).next(),
          imageIndex = $(this).next().find("img").attr("src"); 

      matchLi(activeLink, "ul.thumbnails li", imageIndex, "pre");
    })
    $("#nextImage").bind("click",function(){
      var activeLink = $(this).prev(),
          imageIndex = $(this).prev().find("img").attr("src");

      matchLi(activeLink, "ul.thumbnails li", imageIndex, "next");
    });
  })

  $(document).ready(function(){
    $('#container-modal').on('show.bs.modal', function () {
      if(!isScroll().scrollY){
        // no-scroll
        $('body').addClass("modal-open-noscroll");
      }else { 
        $('body').removeClass("modal-open-noscroll");
      }
    })
  })
<% end -%>