<% content_for :sidebar do %>
  <%= render '/projects/info', { project: @project } %>
<% end %>

<% content_for :title_bar do %>
  <%= render '/projects/title_bar' %>
<% end -%>

<%= form_for @content, :as => :content,
            :url => {:action => 'update', :id => @page.title},
            :html => {:method => :put, :multipart => true, :id => 'wiki_form'} do |f| %>
  <div class="row" style="margin-left:0px;">
    <% if @page.new_record? %>
      <h4><%= h @page.pretty_title %></h4>
    <% else %>
      <%= text_field_tag 'wiki_page[title]', @page.pretty_title,  :required => true, class: 'form-control', placeholder: l(:field_title) %>
    <% end %>
    <%= f.hidden_field :version %>
    <% if @section %>
      <%= hidden_field_tag 'section', @section %>
      <%= hidden_field_tag 'section_hash', @section_hash %>
    <% end %>
    <%= error_messages_for 'content' %>

    <%= text_area_tag 'content[text]', @text, :cols => 100, :rows => 20,
                      :class => 'wiki-edit form-control', :accesskey => accesskey(:edit) %>

    <p><%= f.text_field :comments, class: 'form-control', placeholder: l(:field_comments) %></p>
    
    <div class="clearfix">
      <div class="pull-left">
        <a href="" data-format='true' class="light">Textile语法</a>
      </div>  
      <div class="pull-right">
        <%= preview_link({:controller => 'wiki', :action => 'preview', :project_id => @project, :id => @page.title }, 'wiki_form') %>
        <%= submit_tag l(:button_save), class: 'button blue' %>
      </div>
    </div>
  </div>
<% end %>

<div id="preview" class="wiki"></div>

<div class="textile-tips">
	<%= render :partial => "shared/textile" %>
</div>
<% html_title @page.pretty_title %>
