<%= error_messages_for 'project' %>

<div class="row form-content">
  <div>
    <%= f.text_field :name, :required => true, class: 'col-md-12', placeholder: l(:field_name) %>
  </div>

  <div class="row">
    <div class="col-md-9 col-xs-9">
      <%= f.text_area :description, :rows => 7, :class => 'wiki-edit col-md-12', placeholder: l(:field_description) %>
    </div>

    <div class="col-md-3 col-xs-3">
      <div class="image-selector-container">
        <div class="image-selector">
          <%= image_tag(@project.icon_url(:medium)) %>
          <span class="upload-image">
            <%= f.file_field :icon %>
          </span>
          <%= f.hidden_field :icon_cache %>
        </div>
      </div>
    </div>  
  </div>
  
  <div class="row">
    <div class="col-md-9 col-xs-9">
      <label class="checkbox inline" style="margin:10px;">
        <%= f.check_box :mute, :style => "height:auto;" %> 默认关闭所有通知和邮件
      </label>
    </div>
  </div>  
</div>
