<div class="row-fluid"> 
  <%= render_return_to_main_page %>
</div>

<div class="project-info">
  <div class="basic-info clearfix">
    <div class="row">
      <h5 class="col-md-9 col-xs-9">
        <i class="icon-flag"></i><span class= "project-name-span"><%= project.name %><span>
      </h5>
      <div class="actions col-md-3 col-xs-3">
        <div class="btn-group">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-select"></i>
          </a>
          <ul class="dropdown-menu pull-right">
            <% if User.current.allowed_to?(:edit_project, project) && project.creator == User.current %>
              <li class="action-edit">
                <%= link_to l(:button_edit), edit_project_path(project), remote: true %>
              </li>
            <% end -%>
            <% if project.creator == User.current %>
              <li class="action-change_creator">
                <%= link_to l(:button_change_project_creator), change_creator_project_path(project), remote: true %>
              </li>
            <% end -%>
            <% if project.users.include?(User.current)  %>       
              <li class="action-mute">
                <%= mute_link(project, User.current)  %>
              </li>                   
              <% if  project.creator != User.current %>
                <li class="action-watch">
                  <%= link_to l(:button_quit), quit_project_path(project), method: 'post', confirm: l(:text_are_you_sure) %>
                </li>
              <% end -%>                
            <% end -%>            
            <% if User.current.allowed_to?(:close_project, project) && project.creator == User.current %>
              <% if project.active? %>
                <li class="action-close">
                  <%= link_to l(:button_close), close_project_path(project), :data => {:confirm => l(:text_are_you_sure)}, :method => :post %>
                </li>
              <% else %>
                <li class="action-reopen">
                  <%= link_to l(:button_reopen), reopen_project_path(project), :data => {:confirm => l(:text_are_you_sure)}, :method => :post %>
                </li>
              <% end -%>
            <% end -%>
          </ul>
        </div>
      </div>
    </div>
<<<<<<< HEAD
    <%= image_tag(project.icon_url(:large), :class => "hidden-sm hidden-phone img-rounded") %>
=======
    <%= image_tag(project.icon_url(:large), :class => "hidden-sm  img-rounded") %>
>>>>>>> [#2326] enter project page
  </div>

  <div class="wiki description">
    <%= textilizable(project.short_description, :project => project) %>
  </div>

  <div class="member">
    <h5>
      <i class="icon-members"></i><%= l(:label_member_plural) %>
      <% if User.current.allowed_to?(:manage_member_invitations, project) %>
        <%= link_to new_member_invitation_path(project_id: project), remote: true, class: 'pull-right btn-xs' do %>
          <span class='icon-new'></span>
        <% end %>
      <% end -%>
    </h5>
    <ul id="memberlist">
      <%= render '/projects/memberlist', { project: project } %>
    </ul>

    <% if project.member_principals.count + project.true_pending_invitations.count > 10 %>
      <%= link_to l(:view_all_members, count: project.member_principals.count), '#all-members-modal', data: { toggle: 'modal' }, class: 'link-all-members' %>

      <div class="modal" id="all-members-modal" style="display:none;">
        <div class="modal-body">
          <div class="row-fluid" id="all_members_model">            
            <%= render '/projects/all_members_model', { project: project } %>            
          </div>
        </div>
        <div class="modal-footer">
          <%= link_to l(:button_close), '#', class: 'btn', data: { dismiss: 'modal' } %>
        </div>
      </div>
    <% end -%>
  </div>
</div>

