<div id="project-list">
  <ul class="nav nav-tabs nav-stacked media-list">
    <% find_visible_projects.each do |project| %>

      <% cache("#{project.id}-#{project.updated_on}", :expires_in => 24.hour) do %>
      <li class="media" id="<%= project.id %>">
        <%= link_to project_issues_path(project), :class => "pull-left hidden-phone" do %>
          <%= image_tag project.icon_url(:small), :class => "img-rounded" %>
        <% end -%>
        <div class="media-body">
          <a href="<%= project_issues_path(project) %>"  class="<%= 'one-line' if project.name.display_width < 14  %>"><%= truncate(project.name, length: 19) %> (<%= project.issues_count %>)</a>       
        </div>
      </li>
      <% end %>
    <% end -%>
  </ul>
</div>
