<div class="avatar col-md-3">
  <% if u = pending.true_user %>
    <%= link_to_user(u, :avatar => :small) %>
  <% else %>
    <%= image_tag User.new.avatar_url(:small) %>
  <% end %> 
</div>
<div class="col-md-9">
  <span class="user-name">
    <% if u %>
      <%= link_to_user(u) %>
    <% else %>
      <%= link_to_stranger(pending) %>
    <% end %>
    <% if pending.project.creator == User.current %>
      <%= link_to image_tag("/assets/planners/icon-delete.png"), pending, :remote => true, :data => {:confirm => l(:text_are_you_sure)}, :method => :delete, :class => "pull-right icon_delete", "hidden" => true %>
   <% end-%>
  </span><br>
  <span class="role"><%= l(:label_invited_member) %></span>
</div>
