<% unless (pendings = project.true_pending_invitations).empty? %>
  <br />
  <i class="icon-members"></i><%= l(:label_invited_members) %>
  <br />
  <br />
  <ul>
  <% pendings.each do |pending| %>
    <li class="row-fluid">
      <div class="avatar span7">
        <% if u = pending.user %>
          <%= link_to_user(u, :avatar => :small) %>
        <% else %>
          <%= image_tag User.new.avatar_url(:small) %>
        <% end %> 
      </div>
      <div class="span17">
        <span class="user-name">
          <% if u %>
            <%= link_to_user(u) %>
          <% else %>
            <span title="<%= pending.mail %>"><%= truncate(pending.mail, length: 15) %></span>
          <% end %>
        </span><br>
      </div>
    </li>
  <% end %>
  </ul>
<% end %>


