<li class="header">
  <%= l(:label_notification_plural) %> (<%= link_to @unread_count, push_notifications_path %>)
  <% if push_notifications.size > 0 %>
    <%= link_to "标记为已读", mark_popover_as_read_push_notifications_path, method: :post, :remote => true, :class => "align-right"%>
  <% end %>
</li>

<% unless push_notifications.blank? && pending_members.blank? %>
  <% pending_members[0..9].each do |push_notification| %>
    <% cache("push_notifications-#{User.current.id}-#{push_notification.id}-#{push_notification.updated_at}", expires_in: 24.hours) do%>
      <%= render "/push_notifications/#{push_notification.underscore}", { push_notification: push_notification, popover: true } %>
    <% end -%>
  <% end -%>

  <% if pending_members.size < 10 %>
    <% push_notifications[0..9 - pending_members.size].each do |push_notification| %>
        <% cache("push_notifications-#{User.current.id}-#{push_notification.id}-#{push_notification.updated_at}", expires_in: 24.hours) do%>
	  <%= render "/push_notifications/#{push_notification.underscore}", { push_notification: push_notification, popover: true } %>
        <% end-%>
    <% end -%>
  <% end -%>
<% else %>
  <li class="no-data"><%= link_to l(:label_no_data), '#' %></li>
<% end -%>
<li class="footer"><%= link_to t(:button_see_all_notifications), push_notifications_path %></li>
