<div id="files_list">
  <ul class="thumbnails">
    <% attachments.each do |file| %>  
      <li class="span3">        
        <div class="thumbnail" style="">
          <% if User.current.allowed_to?(:manage_files, @project) %>          
            <span  class="trash">
              <%= link_to("<i class='qicon-trash'></i>".html_safe, attachment_path(file), :data => {:confirm => "确定删除吗？"}, :method => :delete) %>
            </span>
          <% end -%>
          <%= thumbnail_tag(file) %>
          <b> <%= link_to_attachment file, :download => true, :title => file.description, target: '_blank' %></b>
          <p>  <%= file.author.name %> 添加于<%= format_time(file.created_on) %></p>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<% if false %>
<table class="table files">
  <thead>
    <tr>
      <th class="filename"><%= l(:field_filename) %></th>
      <th class="author"><%= l(:field_author) %></th>
      <th class="created_on"><%= l(:label_date) %></th>
      <% if User.current.allowed_to?(:manage_files, @project) %>
        <th class="action"></th>
      <% end -%>
    </tr>
  </thead>
  <tbody>
    <% attachments.each do |file| %>
      <tr class="file" id="<%= dom_id(file) %>">
        <td class="filename">
          <%= link_to_attachment file, :download => true, :title => file.description, target: '_blank' %>
          <%= thumbnail_tag(file) if file.thumbnailable? %>
        </td>
        <td class="author"><%= file.author.name %></td>
        <td class="created_on"><%= format_time(file.created_on) %></td>
        <% if User.current.allowed_to?(:manage_files, @project) %>
          <td class="action"><%= link_to(image_tag('icon-trash.png'), attachment_path(file), :data => {:confirm => l(:text_are_you_sure)}, :method => :delete) %></td>
        <% end -%>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>