<div class="row-fluid form-content" id="invitations">
  <div class="title">
    <span><%= l(:field_project)%> :</span>
    <span class="project-name-label"><%=@project.name%></span>
  </div>

  <div class="textarea-backgroundcolor">
    <%= text_field_tag 'recipients', nil, id: 'member-invitation-recipients', class: 'span24' %>
  </div>

  <div class="description">
    <label><%= l(:field_description) %></label>
    <%= text_area_tag 'description', nil, :rows => 6, :class => 'span24 textarea-backgroundcolor' %>
  </div>
</div>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('#member-invitation-recipients').val(<%== @recipients.map { |u| u.mail ? u.to_s(true) : nil }.compact %>).select2({
      tags:<%==@all_users.map { |u| u.mail ? u.to_s(true) : nil }.compact %>,
    });
  });
<% end -%>
