<div id="project-list">
  <%unless @result_projects.empty? then%>
    <label>项目</label>
    <ul class="nav nav-tabs media-list">
      <%@result_projects.each do |project|%>  
        <li>
           <%=link_to "/planners/projects/#{project.id}", :class =>"pull-left hidden-phone" do %>
            <%= image_tag project.icon_url(:large), :class => "img-rounded" %>
           <%end -%>
           <label><%=project.name%></label>
        </li>
      <%end -%>       
    <%end -%>
  </ul>
</div>

<div id="member-list">
  <label>成员</label>
  <ul class="nav nav-tabs media-list">
    <%unless @result_users.empty? then%>
      <%@result_users.each do |user|%>  
        <li>
           <%=link_to user_path(user), :class =>"pull-left hidden-phone" do %>
            <%= image_tag user.avatar_url(:large), :class => "img-circle" %>
           <%end-%>
           <label><%=user.name%></label>
        </li>
      <%end%>
    <%end%>
  </ul>
</div>

<div id="tags">
   
</div>
