<div id="member-list">
<%unless @result_users.empty? then%>
  <label>成员:</label>
  <ul class="thumbnails">
    <% @result_users.each do |m| %>    
      <li class="span2">
        <div>
        <%= link_to image_tag(m.avatar_url(:large),:class => 'img-circle'), user_path(m), :class => "all-member-photo"%>
          <div class="caption">
            <h5><%= m.lastname %><%= m.firstname %></h5>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <div class="divider"></div>
<% end %>
</div>

<div id="project-list">
  <%unless @result_projects.empty? then%>
    <label>项目:</label>
    <ul class="thumbnails">
      <% @result_projects.each do |p| %>      
        <li class="span2">
          <div>
            <%= link_to image_tag(p.icon_url(:large)), "/planners/projects/#{p.id}", :class => "picture thumbnail" %>
            <div class="caption">
            <h5><%= p.name %></h5>
            <p class="small"><%= p.description %></p>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
    <div class="divider"></div>
  <% end %> 
</div>

<div id="tags">

</div>
