<%html_title(l(:label_search))-%>
<% content_for:sidebar do %>
<div class="span5 sidebar">
  <ul class="search-result-counts">
    <li><label>搜索结果:</label></li>
    <li class="all-link">
        <label>全部 &nbsp;(<%=@result_users.length + @result_projects.length + @result_tags.length%>)</label>
    </li>
    <li class="member-link">
        <label>成员 &nbsp;(<%=@result_users.length%>)</label>
    </li>
    <li class="project-link">
        <label>项目 &nbsp;(<%=@result_projects.length%>)</label>
    </li>
    <li class="tag-link">
      <label>Tags &nbsp;(<%=@result_tags.length%>)</labe>
    </li>
  <ul>
</div>
<% end -%>
<div>
<%= render :partial => 'result'%>
</div>

<%= javascript_tag do %>
  function show_all(){
    $("#member-list").show();
    $("#project-list").show();
  }
  function hide_all(){
    $("#member-list").hide();
    $("#project-list").hide();
    $(".all-link").removeClass("active");
    $(".project-link").removeClass("active");
    $(".member-link").removeClass("active");
    $(".tag-link").removeClass("active");
  }
  
  $(".all-link").click(function(){
    hide_all();
    show_all();
    $(this).addClass("active")
  });
  
  $(".project-link").click(function(){
    hide_all(); 
    $("#project-list").show();
    $(this).addClass("active")
  });
  
  $(".member-link").click(function(){
    hide_all();
    $("#member-list").show();
    $(this).addClass("active")
  });
  
  $(".tag-link").click(function(){
    hide_all();
    $("#tag-list").show();
    $(this).addClass("active")
});
<% end -%>