<%= form_tag({:controller => 'journals', :action => 'edit', :id => @journal},
             :remote => true,
             :id => "journal-#{@journal.id}-form") do %>
  <div class="row-fluid">
    <%= label_tag "notes", l(:description_notes), :class => "hidden-for-sighted" %>
    <%= text_area_tag :notes, @journal.notes,
          :id => "journal_#{@journal.id}_notes",
          :class => 'wiki-edit span12',
          :rows => (@journal.notes.blank? ? 10 : [[10, @journal.notes.length / 50].max, 100].min) %>
    <%= call_hook(:view_journals_notes_form_after_notes, { :journal => @journal}) %>
    <%= submit_tag l(:button_save), class: 'button blue btn-sm' %>
    <%= link_to l(:button_cancel), '#', class: 'btn', :onclick => "$('#journal-#{@journal.id}-form').remove(); $('#journal-#{@journal.id}-notes').show(); return false;" %>
  </div>
<% end %>
