<% unless popover %>
  <li class="<%= 'unread' if push_notification.unread? %> row-fluid" id="<%= dom_id push_notification %>">
    <div class="span6">
      <div class="user-image pull-left">
        <%= image_tag push_notification.author.avatar_url(:small), :class => "img-rounded" %>
      </div>
      <%= link_to_user push_notification.author %><br>
      <span class="time"><%= localize(push_notification.created_at, format: :short) %></span>
    </div>
    <div class="span14">
      <% case push_notification.event_name %>
      <% when 'add_due_date' %>
        设置<%= link_to push_notification.pusher.journal.journalized.subject, read_push_notification_path(push_notification, pusher_path: issue_path(push_notification.pusher.journal.journalized)) %>在<%= push_notification.pusher.value %>过期
      <% when 'remove_due_date' %>
        取消了<%= link_to push_notification.pusher.journal.journalized.subject, read_push_notification_path(push_notification, pusher_path: issue_path(push_notification.pusher.journal.journalized)) %>的过期时间
      <% when 'add_assignee' %>
        <% assignee = User.find(push_notification.pusher.value) %>
        分配给<%= link_to push_notification.pusher.journal.journalized.subject, read_push_notification_path(push_notification, pusher_path: issue_path(push_notification.pusher.journal.journalized)) %>给<%= assignee == User.current ? '你' : link_to_user(assignee) %>
      <% when 'remove_assignee' %>
        取消了<%= link_to push_notification.pusher.journal.journalized.subject, read_push_notification_path(push_notification, pusher_path: issue_path(push_notification.pusher.journal.journalized)) %>的负责人
      <% when 'close' %>
        关闭了<%= link_to push_notification.pusher.journal.journalized.subject, read_push_notification_path(push_notification, pusher_path: issue_path(push_notification.pusher.journal.journalized)) %>
      <% when 'reopen' %>
        重开了<%= link_to push_notification.pusher.journal.journalized.subject, read_push_notification_path(push_notification, pusher_path: issue_path(push_notification.pusher.journal.journalized)) %>
      <% when 'description' %>
        更新了<%= link_to push_notification.pusher.journal.journalized.subject, read_push_notification_path(push_notification, pusher_path: issue_path(push_notification.pusher.journal.journalized)) %>的描述
      <% when 'update' %>
        更新了<%= link_to push_notification.pusher.journal.journalized.subject, read_push_notification_path(push_notification, pusher_path: issue_path(push_notification.pusher.journal.journalized)) %>
      <% end -%>
      <span class="project">(<%= link_to_project push_notification.project %>)</span>
    </div>
    <div class="span4">
      <% if push_notification.unread? %>
        <%= link_to l(:button_mark_as_read), mark_as_read_push_notification_path(push_notification), method: :post, remote: true, class: 'btn btn-mini' %>
      <% end -%>
    </div>
  </li>
<% else %>
  <li class="item row-fluid">
    <%= link_to read_push_notification_path(push_notification, pusher_path: issue_path(push_notification.pusher.journal.journalized)) do %>
      <div class="span7">
        <div class="user-image pull-left">
          <%= image_tag push_notification.author.avatar_url(:small), :class => "img-rounded" %>
        </div>
        <%= push_notification.author.name %><br>
        <span class="time"><%= localize(push_notification.created_at, format: :short) %></span>
      </div>
      <div class="span17">
        <% case push_notification.event_name %>
        <% when 'add_due_date' %>
          设置了<%= push_notification.pusher.journal.journalized.subject %>在<%= push_notification.pusher.value %>过期
        <% when 'remove_due_date' %>
          取消了<%= push_notification.pusher.journal.journalized.subject %>的过期时间
        <% when 'add_assignee' %>
          <% assignee = User.find(push_notification.pusher.value) %>
          分配<%= push_notification.pusher.journal.journalized.subject %>给<%= assignee == User.current ? '你' : assignee.name %>
        <% when 'remove_assignee' %>
          取消了<%= push_notification.pusher.journal.journalized.subject %>的负责人
        <% when 'close' %>
          关闭了<%= push_notification.pusher.journal.journalized.subject %>
        <% when 'reopen' %>
          重开了<%= push_notification.pusher.journal.journalized.subject %>
        <% when 'description' %>
          更新了<%= push_notification.pusher.journal.journalized.subject %>的描述
        <% when 'update' %>
          更新了<%= push_notification.pusher.journal.journalized.subject %>
        <% end -%>
        <span class="project">(<%= push_notification.project.name %>)</span>
      </div>
    <% end -%>
  </li>
<% end -%>