<% unless popover %>
  <li class="<%= 'unread' if push_notification.unread? %> row" id="<%= dom_id push_notification %>">
    <div class="col-md-3">
      <div class="user-image pull-left">
        <%= link_to_user(push_notification.author, :avatar => :small) %>        
      </div>
      <%= link_to_user push_notification.author %><br>
      <span class="time"><%= localize(push_notification.created_at, format: :short) %></span>
    </div>
    <div class="col-md-6">
      <% case push_notification.event_name %>
      <% when 'create' %>
        新建了Wiki页<%= link_to push_notification.pusher.page.title, read_push_notification_path(push_notification, pusher_path: project_wiki_path(push_notification.project, push_notification.page.title)) %>
      <% when 'update' %>
        更新了Wiki页<%= link_to push_notification.pusher.page.title, read_push_notification_path(push_notification, pusher_path: project_wiki_path(push_notification.project, push_notification.page.title)) %>
      <% end -%>
      <span class="project">(<%= link_to_project push_notification.project %>)</span>
    </div>
    <div class="col-md-3">
      <% if push_notification.unread? %>
        <%= link_to l(:button_mark_as_read), mark_as_read_push_notification_path(push_notification), method: :post, remote: true, class: 'btn btn-mini' %>
      <% end -%>
    </div>
  </li>
<% else %>
  <li class="item row">
    <%= link_to read_push_notification_path(push_notification, pusher_path: project_wiki_path(push_notification.project, push_notification.page.title)) do %>
      <div class="col-md-3">
        <div class="user-image pull-left">
          <%= image_tag push_notification.author.avatar_url(:small), :class => "img-rounded" %>     
        </div>
        <%= push_notification.author.name %><br>
        <span class="time"><%= localize(push_notification.created_at, format: :short) %></span>
      </div>
      <div class="col-md-9">
        <% case push_notification.event_name %>
        <% when 'create' %>
          新建了Wiki页<%= push_notification.pusher.page.title %>
        <% when 'update' %>
          更新了Wiki页<%= push_notification.pusher.page.title %>
        <% end -%> 
        <span class="project">(<%= push_notification.project.name %>)</span>
      </div>
    <% end -%>
  </li>
<% end -%>