<%= form_for(@newfeature) do |f| %>
  <% if @newfeature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newfeature.errors.count, "error") %> prohibited this newfeature from being saved:</h2>

      <ul>
      <% @newfeature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "form-group">
    <%= f.label :title %><br />
    <%= f.text_area :title, :rows => 2, :placeholder => '在此添加标题....', :id => "message_area", :class => "form-control" %>
  </div>
  <div class="form-group">
    <a href="" data-format='true' class="light pull-right">Textile语法</a>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 6, :placeholder => '在此添加描述...', :id => "message_area", :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit '提交' %>
  </div>
  
<div id="formatting-help" class="popup showmebox inline-help">
  <%= render :partial => "shared/textile" %>  
</div>
<% end %>
