<div class="account-container">
  <%= call_hook :view_account_login_top %>
  <div id="login-form">
    <%= form_tag(signin_path) do %>
      <%= back_url_hidden_field_tag %>

      <div class="row-fluid">

        <div class="header">
          <span class="title"><%= l(:field_login) %></span>
        </div>

        <div class="body clearfix">
          <label for="username"><%= l(:field_mail) %></label>
          <%= text_field_tag 'username',nil,placeholder:'请输入公司邮箱地址', :tabindex => '1', class: 'span24'%>
          <label for="password"><%=l(:field_password)%></label>
          <%= password_field_tag 'password',nil,placeholder:'公司邮箱密码', :tabindex => '2', class: 'span24' %>
        </div>

        <div class="footer">
          <label for="autologin" class="pull-left"><%= check_box_tag 'autologin', 1, false, :tabindex => 4 %> <%= l(:label_stay_logged_in) %></label>
          <input type="submit" name="login" value="<%=l(:button_login)%>" tabindex="5" class="button blue" />
        </div>

      </div>
    <% end %>
  </div>
  <%= call_hook :view_account_login_bottom %>
</div>

<%= javascript_tag do %>
  $(document).ready(function() {
    $("#password").keyup(function(){
      $("#password").attr("placeholder","");
    });
    
    $("#password").blur(function(){
      $("#password").attr("placeholder","公司邮箱密码");
    });
    
    $("#username").keyup(function(){
      $("#username").attr("placeholder","");
    });
         
    $("#username").blur(function(){
      $("#username").attr("placeholder","请输入公司邮箱地址");
    }); 
  });
<% end -%>
