<div class="row-fluid form-content" id="invitations">
  <div class="title">
    <span><%= l(:field_project) %></span>
    <%= select_tag 'project_id', project_tree_options_for_select(find_visible_projects, :selected => @project), class: 'span24' %>
  </div>

  <div>
    <%= text_field_tag 'recipients', nil, id: "member-invitation-recipients", class: 'span24' %>
  </div>

  <div>
    <label><%= l(:field_description) %></label>
    <%= text_area_tag 'description', nil, :rows => 6, :class => 'span24' %>
  </div>
</div>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('#member-invitation-recipients').val(<%= @recipients.map { |u| u.mail ? u.to_s(true) : nil }.compact %>).select2({
      selectOnBlur: true,
      tags:<%== @all_recipients.map { |u| u.mail ? u.to_s(true) : nil }.compact %>,

    })
    
    $('#invite-submit').submit(function(event){
      var re = /\S+@\S+\.\S+/;      
      var result = true;
            
      if($('#member-invitation-recipients').val() == ""){
        return true;
      }      
      var emails = $('#member-invitation-recipients').val().split(",")      
      console.log(emails)
      

      $.each(emails, function(index, email){
        if(!re.test(email)){
          alert(email + "格式不正确");
          result = false;
          return false;
        }        
      })

      return result;
    })
    

       
  });
<% end -%>
