<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%=h html_title %></title>
  <meta name="description" content="<%= Redmine::Info.app_name %>" />
  <meta name="keywords" content="issue,bug,tracker" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="/favicon32.ico">  
    
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_tag do %>
    window._rails_env = "<%= Rails.env %>"
    window._project_watchers = new Array();
    window._issues = new Array();    
    <% if @project.present? %>
      window._project_id = '<%= @project.identifier %>';            
      <% @project.member_principals.map(&:user).each do |user| %>
        window._project_watchers.push( {name: '<%= user.name %>', pinyin: '<%= PinYin.of_string(user.name).join %>' } );
      <% end %>
      <% @project.issues.open.limit(5) do |issue| %>
        window._issues.push( {subject: '<%= issue.subject %>', id: '<%= issue.id %>' } );
      <% end %>              
    <% end %>  

  <% end %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= call_hook :view_layouts_base_html_head %>
  <!-- page specific tags -->
  <%= yield :header_tags -%>
</head>
<body class="<%=h body_css_classes %>" style = "position:relative;padding-top:70px;">
  
<%= render '/shared/topnav' %>
<% if User.current.logged? %>
  <% if has_newfeatures? %>
    <% if show_notification? %>
        <div id = "newfeature-background">             
          <div class="container newFeatures">
            <div class="row newFeature-title">
              <div class="span10">
                <span class = "lines">
                  <%= textilizable(latest_newfeatures_title) %></span>
                    <a href="/newfeatures/cancel" data-remote = true ><img src="/assets/icon-delete2.png" class = "link"></a>
              </div>
    <% end %>
  <% end %>
<%end%>
            </div>

          <% if User.current.logged? %>
            <% if has_newfeatures? %>
              <% if show_notification? %>
                    <div class="container msg-details" id = "newfeatures-msg-description"><%= textilizable(latest_newfeatures_description) %></div>
              <% end %>
            <% end %>
          <%end%>
          </div>
        </div>
    
<div class="container" style = "position:relative;margin-top:30px;">    
    <div class="row">
      <% if content_for?(:sidebar) %>
        <div class="col-md-2 sidebar">
          <%= yield :sidebar %>
          <%= view_layouts_base_sidebar_hook_response %>
        </div>
      <% end -%>

      <div class="<%= content_for?(:sidebar) ? 'col-md-10' : 'col-md-12' %>">
        <% if content_for?(:title_bar) %>
          <div class="title-bar">
            <%= yield :title_bar %>
          </div>
        <% end -%>
        <div class="main<%= ' with-title-bar' if content_for?(:title_bar) %>">
          <%= render_flash_messages %>
          <%= yield %>
          <%= call_hook :view_layouts_base_content %>
        </div>
      </div>
    </div>
  </div>

  <div id="ajax-indicator" style="display:none;"><span><%= l(:label_loading) %></span></div>
  <div id="ajax-modal" style="display:none;"></div>

  <%= call_hook :view_layouts_base_body_bottom %>
  <%= fix_for_bootstrap_dropdown %>
</body>
</html>