<!DOCTYPE html>
<html lang="en" ng-app="Ginkgo">
<head>
  <meta charset="utf-8" />
  <title><%=h html_title %></title>
  <meta name="description" content="<%= Redmine::Info.app_name %>" />
  <meta name="keywords" content="issue,bug,tracker" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <%= stylesheet_link_tag    "planner" %>
  <%= javascript_include_tag "planner" %>
  <%= csrf_meta_tags %>
  <%= call_hook :view_layouts_base_html_head %>
  <!-- page specific tags -->
  <%= yield :header_tags -%>
</head>
<body class="<%=h body_css_classes %>">

  <%= yield %>

  <div id="ajax-indicator" style="display:none;"><span><%= l(:label_loading) %></span></div>
  <div id="ajax-modal" style="display:none;"></div>

  <%= call_hook :view_layouts_base_body_bottom %>
  <%= fix_for_bootstrap_dropdown %>
</body>
</html>
