<!DOCTYPE html>
<html lang="en" ng-app="Ginkgo">
<head>
  <meta charset="utf-8" />
  <title><%=h html_title %></title>
  <meta name="description" content="<%= Redmine::Info.app_name %>" />
  <meta name="keywords" content="issue,bug,tracker" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "planners" %>
  <%= javascript_include_tag "planners" %>
  <%= csrf_meta_tags %>
  <%= call_hook :view_layouts_base_html_head %>
  <!-- page specific tags -->
  <%= yield :header_tags -%>
</head>
<body class="<%=h body_css_classes %>" ng-init="projectId = <%= @project.try(:id).to_i %>;memberId=<%= @member.try(:id).to_i %>;">
  
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a href="#" class="navbar-link" style="display:block;text-align:right">logout</a>
        
        <a class="brand" href="/planners" id="mz-top-link-logo">&nbsp;</a>
        <div class="nav-collapse collapse">  
         <%= form_tag( {:controller =>"planners/search",:action=> "index"},{class: 'form-search pull-right', id: "quick-search",:onSubmit=>'return validate();',:method=>:get}) do %>
            <div class="input-prepend">
                <button type="submit" class="btn">
                    <img src="/assets/project_header/search.png">
                </button>
                <%= text_field_tag 'q', @question, :class => 'search-query', :accesskey => accesskey(:quick_search), placeholder: l(:label_search) %>
           </div>
         <% end %>
          <ul class="nav">
            <li class="<%= 'active' if action_name == 'index' and controller_name == 'home' %>"><a href="/planners">Home</a></li>
            <li class="<%= 'active' if action_name == 'index' and controller_name == 'projects' %>"><a href="/planners/projects">All Projects</a></li>
            <li class="<%= 'active' if action_name == 'index' and controller_name == 'members' %>"><a href="/planners/members">All Members</a></li>
            <li class="<%= 'active' if action_name == 'show' and controller_name == 'members' %>"><a href="/planners/members/<%= User.current.id %>">Me</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  
  <div id="wrap" ng-controller='CalendarCtrl'> 
    <% if content_for?(:sidebar) %>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div> 
    <% end %>
    <div id="main">
      <%= yield %>
    </div>
  </div>
      

  <div id="calendar_item_editor_singleton">
  </div> 
  <div id="ajax-indicator" style="display:none;"><span><%= l(:label_loading) %></span></div>
  <div id="ajax-modal" style="display:none;"></div>

  <%= call_hook :view_layouts_base_body_bottom %>
  <%= fix_for_bootstrap_dropdown %>
</body>
</html>
<%= javascript_tag do %>
  function validate(){
    var str=$("#q").val();
          if(str.replace(/(^\s+$)/, "").length==0){
            return false;
          }
          else{
            return true;
          }     
  }  
<% end -%>
