<!DOCTYPE html>
<html lang="en" ng-app="Ginkgo">
<head>
  <meta charset="utf-8" />
  <title><%=h html_title %></title>
  <meta name="description" content="<%= Redmine::Info.app_name %>" />
  <meta name="keywords" content="issue,bug,tracker" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <%= stylesheet_link_tag    "planner" %>
  <%= javascript_include_tag "planner" %>
  <%= csrf_meta_tags %>
  <%= call_hook :view_layouts_base_html_head %>
  <!-- page specific tags -->
  <%= yield :header_tags -%>
</head>
<body class="<%=h body_css_classes %>" ng-init="projectId = <%= @project.try(:id) %>">
  
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a href="#" class="navbar-link" style="display:block;text-align:right">logout</a>
        
        <a class="brand" href="#" id="mz-top-link-logo">&nbsp;</a>
        <div class="nav-collapse collapse">  
          <form class="form-search pull-right">
            <div class="input-prepend">
              <button type="submit" class="btn">
                <img src="/assets/project_header/search.png">
              </button>
              <input type="text" class="span2 search-query">
            </div>
          </form>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">All Projects</a></li>
            <li><a href="#contact">All Members</a></li>
            <li><a href="#contact">Me</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  
  <div id="wrap" ng-controller="CalendarCtrl"> 
    <% if content_for?(:sidebar) %>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div> 
    <% end %>
    <div id="main">
      <%= yield %>
    </div>
  </div>
      

  <div id="calendar_item_editor_singleton">
  </div> 
  <div id="ajax-indicator" style="display:none;"><span><%= l(:label_loading) %></span></div>
  <div id="ajax-modal" style="display:none;"></div>

  <%= call_hook :view_layouts_base_body_bottom %>
  <%= fix_for_bootstrap_dropdown %>
</body>
</html>
